# <font color='green' style='font-size: 30px;'>Bibliotecas usadas</font>
<hr style='border: 2px solid green;'>

In [1]:
import pandas as pd

# <font color='green' style='font-size: 30px;'>Problema</font>
<hr style='border: 2px solid green;'>

### Descrição do problema

Você é um funcionário da OMS que deve avaliar os níveis de contaminação de um vírus em um determinado país. As pessoas dentro de uma sociedade podem estar conectadas de alguma maneira (familia, amizade ou trabalho) e cada pessoa possui um conjunto de atributos.

### Comportamento do vírus

<b>Este vírus afeta esta sociedade como descrito a seguir: </b>

● a taxa de contaminação varia de pessoa para pessoa;

● a taxa de contaminação de uma pessoa A para B é diferente de B para A e depende
das características de ambas as pessoas (A e B);

● a contaminação só passa através de indivíduos conectados;

● não existe cura para essa doença;

### Desafio

Foram coletados os dados de contaminação (ou seja, as taxas de contaminação) para metade desta sociedade. Neste problema, você deverá estimar a taxa para o restante dessa sociedade
e decidir políticas de saúde com base nos resultados obtidos.

### Observação

Para determinar as taxas de contaminação, devem ser levados em consideração tanto as características dos infectados quanto dos infectantes.

# <font color='green' style='font-size: 30px;'>Analisando dataset conexões</font>
<hr style='border: 2px solid green;'>

In [10]:
df_conexoes = pd.read_csv('data/conexoes_espec.csv', sep=';')
df_conexoes.head()

   V1  V2      grau       proximidade  prob_V1_V2
0   1   2  trabalho  visita_frequente    0.589462
1   1   3  trabalho       visita_rara    0.708465
2   2   4  trabalho     visita_casual         NaN
3   2   5  trabalho       visita_rara    0.638842
4   3   6    amigos        mora_junto         NaN

In [11]:
df_conexoes.shape

(999999, 5)

In [12]:
#Verificando se há valores nulos no dataframe
print ('Quantidade de dados nulos \n', df_conexoes.isna().sum())

Quantidade de dados nulos
 V1                  0
V2                  0
grau                0
proximidade         0
prob_V1_V2     500000
dtype: int64

# <font color='green' style='font-size: 30px;'>Preenchendo os dados faltantes pela média correspondente dos valores dos atributos grau e proximidade</font>
<hr style='border: 2px solid green;'>

In [13]:
def preenchendo_dados_faltantes_prob_V1_V2(df_conexoes):
    df_conexoes['prob_V1_V2'] = df_conexoes['prob_V1_V2'].fillna(df_conexoes.groupby(['grau', 'proximidade'])['prob_V1_V2'].transform('mean'))
    
    return df_conexoes

# <font color='green' style='font-size: 30px;'>Analisando dataset individuos</font>
<hr style='border: 2px solid green;'>

In [30]:
df_individuos = pd.read_csv('data/individuos_espec.csv', sep=';')
df_individuos.head(17)

,name,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC
0,1,44.0,divorciado,1.0,1.0,0.0,1.0,publico,22.200956
1,2,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720
2,3,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393
3,4,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053
4,5,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668
5,6,20.0,NaN,1.0,0.0,1.0,0.0,publico,20.412942
6,7,55.0,solteiro,1.0,1.0,1.0,1.0,particular,NaN
7,8,50.0,divorciado,0.0,1.0,0.0,NaN,publico,21.445628
8,9,42.0,divorciado,1.0,0.0,1.0,NaN,publico,40.793339
9,10,24.0,divorciado,0.0,0.0,0.0,1.0,publico,26.866953
10,11,21.0,solteiro,0.0,0.0,0.0,0.0,publico,24.375770
11,12,42.0,viuvo,1.0,0.0,1.0,0.0,publico,NaN
12,13,24.0,divorciado,1.0,1.0,1.0,1.0,publico,31.668750
13,14,29.0,divorciado,1.0,0.0,0.0,0.0,publico,25.373051
14,15,18.0,divorciado,0.0,1.0,1.0,0.0,taxi,16.365026
15,16,38.0,viuvo,3.0,NaN,1.0,1.0,publico,NaN
16,17,NaN,solteiro,0.0,1.0,1.0,1.0,publico,NaN

In [31]:
df_individuos.shape

(1000000, 9)

In [32]:
#Verificando se há valores nulos no dataframe
print ('Quantidade de dados nulos \n', df_individuos.isna().sum())

Quantidade de dados nulos
 name                              0
idade                         95937
estado_civil                  50073
qt_filhos                     28867
estuda                        40130
trabalha                       6353
pratica_esportes             149124
transporte_mais_utilizado     43033
IMC                          113870
dtype: int64

# <font color='green' style='font-size: 30px;'>Preenchendo os dados faltantes da idade pela média correspondente do valor da idade por estado_civil</font>
<hr style='border: 2px solid green;'>

In [37]:
def preenchendo_dados_faltantes_idade(df_individuos):
    df_individuos['idade'] = df_individuos['idade'].fillna(df_individuos.groupby('estado_civil')['idade'].transform('mean'))
    
    return df_individuos

# <font color='green' style='font-size: 30px;'>Preenchendo os dados faltantes do IMC pela média correspondente do valor do IMC por idade e sendetario</font>
<hr style='border: 2px solid green;'>

In [42]:
def preenchendo_dados_faltantes_IMC(df_individuos):
    df_individuos['IMC'] = df_individuos['IMC'].fillna(df_individuos.groupby(['idade', 'pratica_esportes'])['IMC'].transform('mean'))
    
    return df_individuos